.emailIcon {
  width: 64px;
  margin-right: 33px;
}

.emailIconModal {
  width: 83px;
}

.emailPopupBgr {
  position: absolute;
  left: 0;
  width: 100%;
  background-size: 100%;
  top: 0;
  right: 0;
  background: url('../../images/modal-bgr.svg') no-repeat;
  height: 273px;
}

@media (max-width: 599.98px) {
  .emailIcon {
    width: 38px;
    margin-right: 29px;
  }
}