.hero {
	background-image: url('../../images/hero-bgr.svg');
	background-position-x: left;
	background-position-y: 172px;
	background-repeat: no-repeat;
	background-size: 313px 581px;
}

.securityImg {
	width: 418px;
	flex-shrink: 0;
}

.advantages {
	background-image: url('../../images/advantage-bgr.svg');
	background-position-x: right;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: 290px 617px;
	padding-bottom: 160px;
	margin-bottom: 40px;
}

.howto {
	background-image: url('../../images/howto-bgr.svg');
	background-position-x: left;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: 409px 637px;
	padding-bottom: 186px;
	margin-bottom: 13px;
}


@media (max-width: 1400.98px) {
	.advantages {
		background-image: none;
	}
}

@media (max-width: 1024.98px) {
	.howto {
		background-image: none;
	}
}

@media (max-width: 991.98px) {
	.heroImg {
		order: -1;
		text-align: center;
	}
	.howto,
	.advantages {
		padding-bottom: 0;
		margin-bottom: 96px;
	}
}

@media (max-width: 599.98px) {
	.heroImg {
		max-width: 216px;
		margin: auto;
	}
	.hero {
		background-image: none;
	}
	.hide {
		display: none;
	}
	.securityImg {
		max-width: 190px;
	}
}