.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 148px;
}

.navWrapper {
  display: flex;
}

.navLink,
.login {
  font-size: 15px;
  font-weight: 500;
  color: #737373;
}

.nav {
  margin-right: 130px;
}

.navLink {
  color: #232323;
  margin-left: 32px;
}

.separator {
  color: #737373;
  margin: 0 12px;
}

.burgerIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .navWrapper {
    display: none;
  }
  .burgerIcon {
    display: block;
  }
}

@media (max-width: 599.98px) {
  .header {
    padding: 0 9px;
  }
}