.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 148px;
}

.navWrapper {
  display: flex;
  margin-left: auto;
}

.nav {
  margin-right: 6vw;
}

.separator {
  color: #737373;
}

.burgerIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024.98px) {
  .nav {
    margin-right: 3vw;
  }
}

@media (max-width: 991.98px) {
  .navWrapper {
    display: none;
  }
  .burgerIcon {
    display: block;
  }
}

@media (max-width: 599.98px) {
  .header {
    padding: 0 9px;
  }
}